<?xml version="1.0"?>
<config>
    <modules>
	<SNQ_SPSRBridge>
	    <version>1.0.0</version>
		<author>Vyacheslav Levin</author>
	</SNQ_SPSRBridge>
    </modules>
    <global>
	<models>
	    <snq_spsrbridge>
		<class>SNQ_SPSRBridge_Model</class>
	    </snq_spsrbridge>
	</models>
	<events>
	    <sales_order_place_after>
		<observers>
		    <send_order>
			<class>snq_spsrbridge/observer</class>
			<method>send_order</method>
		    </send_order>
		</observers>
	    </sales_order_place_after>
	</events>
    </global>
</config>