<?xml version="1.0"?>
<config>
    <modules>
        <SNQ_KupiVipOrderSync>
            <version>0.0.1</version>
        </SNQ_KupiVipOrderSync>
    </modules>
    <global>
			<!--
        <blocks>
            <ordersyncquerunner>
                <class>ProxiBlue_OrderSyncQueRunner_Block</class>
            </ordersyncquerunner>
        </blocks>
        <helpers>
            <ordersyncquerunner>
                <class>ProxiBlue_OrderSyncQueRunner_Helper</class>
            </ordersyncquerunner>
        </helpers>
				-->
        <models>
            <kupivipordersync>
                <class>SNQ_KupiVipOrderSync_Model</class>
								<!--<resourceModel>ordersyncquerunner_resource</resourceModel>-->
            </kupivipordersync>
						<!--
            <ordersyncquerunner_resource>
                <class>ProxiBlue_OrderSyncQueRunner_Model_Resource</class>
                <entities>		  
                    <que>
                        <table>ordersyncquerunner_que</table>
                    </que>
                </entities>
            </ordersyncquerunner_resource>
						-->
        </models>
				<!--
        <resources>
            <ordersyncquerunner_setup>
                <setup>
                    <module>SNQ_KupiVipOrderSync</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordersyncquerunner_setup>
        </resources>
				-->
        <events>
            <sales_order_place_after_que>
                <observers>
                    <kupivipordersync_sales_order_place_after_que>
                        <type>singleton</type>
                        <class>SNQ_KupiVipOrderSync_Model_Observer</class>
                        <method>sales_order_place_after_que</method>
                    </kupivipordersync_sales_order_place_after_que>
                </observers>
            </sales_order_place_after_que>
        </events>
    </global>
		<!--
    <crontab>
        <jobs>
            <ordersyncquerunner_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ordersyncquerunner/cron::sync</model>
                </run>
            </ordersyncquerunner_sync>
            <ordersyncquerunner_clean>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>ordersyncquerunner/cron::clean</model>
                </run>
            </ordersyncquerunner_clean>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SNQ_KupiVipOrderSync after="Mage_Adminhtml">SNQ_KupiVipOrderSync</SNQ_KupiVipOrderSync>
                    </modules>
                </args>   
            </adminhtml>
        </routers>
    </admin>
		-->
</config>
